body {
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #f1f1f1;
}
a:link, a:visited, a:hover, a:active {
    color: #337ab7;
    text-decoration: none;
}
pre {font-size:0.8em;}
/*ul li a.active {background-color:green;color:white;}*/


.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.main-header {
    position: fixed;
    max-height: 100px;
    z-index: 1030;
    width: 100%;
}
.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    width: 400px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    color: #eee;
}
.main-header .navbar {
    margin-bottom: 0;
    margin-left: 180px;
    border: none;
    min-height: 50px;
    background-color: rgb(50,109,230);
    border-radius: 0;
}
.navbar-custom-menu {
    padding:4px;
}
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222d32;
    padding-top: 50px;
    min-height: 100%;
    width: 180px;
    z-index: 810;
}
.sidebar {
    padding-bottom: 10px;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-menu li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu li:hover a, .sidebar-menu li a.active {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}
.sidebar-menu li a.active {
    font-size: 1.2em;
}
.sidebar-menu li a {
    position: relative;
    padding: 12px 5px 12px 15px;
    display: block;
}

.content-wrapper {
    min-height: 900px;
    background-color: #eee;
    margin-left: 180px;
    padding: 50px 8px 0px;
    z-index: 800;
}
.user-info, .user-info a  {
    color: #000;
}
.user-info a    {
    text-decoration: underline;
}
.loading    {color:#777;}
.divider    {padding-left: 5px; padding-right: 5px}

.node-container {
    padding-bottom: 25px;
}
.node   {
    border-radius: 10px;
    background-color: #607D8B;
    color: #ddd;
    padding: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.node .name {
    color: #fff;
    padding: 5px;
}
.health .node   {
    border-radius: 10px;
    background-color: #333;
    color: #ddd;
    padding: 6px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.pod {
    background-color: #eeeeef;
    color: #000;
    margin: 3px 0px;
    padding: 3px;
    border: 1px solid #337ab7;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    height: 270px;
    overflow: auto;
}
.pod-label  {
    padding-left: 10px;
}
.pod .warning, .pod .pending {
    background-color: red;
    color: white;
}

.code {
    white-space: pre-wrap;
    border: 1px solid #bbb;
    padding: 5px;
    overflow: auto;
}
.log    {
    color: #eee;
    background-color: #333;
}
.container-item button  {
    margin:5px;
}
.small  {
    font-size: 0.8em;
    font-style: italic;
}
#warnings h3    {
    margin-top: 3px;
}
.bar-container  {
    width: 500px;
    border:1px solid #333;
    background-color: #111;
}
.bar-container .cpu-bar {
    background-color: #2e6da4;
    height: 16px;
}
.bar-container .mem-bar {
    background-color: #50A483;
    height: 16px;
}

.scrollable {
    overflow: auto;
}